@use '@angular/material' as mat;
@use '@angular/material/theming' as mat-theming;
@import './colors';

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

$red-palette: mat-theming.define-palette((
  500: $primary-red,
  300: $secondary-red-light,
  700: $secondary-red-dark,
  contrast: (
    500: $primary-white,
    300: $primary-white,
    700: $primary-white
  )
));

$blue-palette: mat-theming.define-palette((
  500: $primary-blue,
  300: $secondary-blue-light,
  700: $secondary-blue-dark,
  contrast: (
    500: $primary-white,
    300: $primary-white,
    700: $primary-white
  )
));

$white-palette: mat-theming.define-palette((
  50: $primary-white,
  100: $secondary-white-light,
  200: $secondary-white-dark,
  contrast: (
    50: $charcoal-grey,
    100: $charcoal-grey,
    200: $charcoal-grey
  )
));

$patriotic-theme: mat-theming.define-light-theme((
  color: (
    primary: $red-palette,
    accent: $blue-palette,
    warn: mat-theming.define-palette(mat-theming.$amber-palette),
    background: $white-palette
  )
));

@include mat.all-component-themes($patriotic-theme);

$header-theme: (
  color: (
    primary: $red-palette,
    secondary: $secondary-color,
  )
);

.header {
  background-color: map-get($header-theme, color, primary);
  color: white;
  padding: 1rem;
  font-family: $font-family;
}

@keyframes blueHighlight {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; filter: grayscale(0) hue-rotate(240deg); }
}

@keyframes redHighlight {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; filter: grayscale(0) hue-rotate(0deg); }
}

.stars-blue {
  animation: blueHighlight 4s ease-in-out;
}

.stars-red {
  animation: redHighlight 4s ease-in-out;
}