<div class="faded-red-tile">
    <mat-toolbar color="primary" class="landing">
        <div class="title-container">
            <img rel="prefetch" as="image" class="site-logo" src="assets/images/kitchen-table-site-logo.png" />
            <span>Kitchen Table</span>
        </div>
        <span class="spacer"></span>
        <img rel="prefetch" as="image" class="grape-masthead" src="assets/images/grape-01.png" />
    </mat-toolbar>
    <div class="content">
        <mat-tab-group class="section-group" [selectedIndex]="active" (selectedIndexChange)="onTabChange($event)">
            <mat-tab label="Recipes">
                <div *ngIf="recipes && recipes.length > 0">
                    <mat-card *ngFor="let recipe of recipes" class="recipe-card">
                        <app-recipes [recipe]="recipe"></app-recipes>
                        <button mat-button (click)="showRecipe(recipe)">View Recipe</button>
                    </mat-card>
                </div>
                <div *ngIf="recipe">
                    <mat-card class="recipe-card">
                        <app-recipe [recipe]="recipe"></app-recipe>
                        <button mat-button (click)="showRecipe(recipe)">View Recipe</button>
                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>