<mat-card class="animated-card landing-page">
  <mat-card-header>
    <div class="highlight-section">
      <h1 class="title">
        <span class="word">Jeffrey
          <span class="sparkle">✨</span>
          <span class="sparkle-1">✨</span>
          <span class="sparkle-2">✨</span>
          <span class="sparkle-3">✨</span>
        </span>
        <span class="word">Sanford
          <span class="sparkle">✨</span>
          <span class="sparkle-1">✨</span>
          <span class="sparkle-2">✨</span>
          <span class="sparkle-3">✨</span>
        </span>
      </h1>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="animated-section">
      <div
        class="animated-item"
        *ngFor="let item of items; let i = index"
        [ngStyle]="{ 'animation-delay': i * 0.5 + 's' }"
      >
        {{ item }}
      </div>
    </div>
  </mat-card-content>
</mat-card>