/* Page container styling */
.page-container {
  display: flex;
  flex-direction: column;
  height: 96vh;
  width: 100%;
  overflow: visible;
}

/* Layout container styling */
.layout-container {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

/* Sidebar styling */
.sidebar {
  width: auto; /* 250px */
  transition: width 0.3s ease-in-out;
  flex-shrink: 0;
  margin-right: 1em;

  &.expanded {
    width: 18em;
  }

  &.collapsed {
    width: 7em;
  }
}

/* Main stage styling */
.main-stage {
  background-color: rgba(255, 0, 0, 0.5); /* Semi-transparent red background */
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange children in a column */
  justify-content: flex-start; /* Align children to the top */
  align-items: flex-start; /* Align children to the start */
  flex-grow: 1; /* Allow the main stage to grow and fill available space */
  padding: 1em; /* Add padding for spacing */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  overflow: auto; /* Allow scrolling if content overflows */
  margin: 0.15em 0.15em 0.5em 0.15em;
  width: 77vw;
  height: 83.5vh;
  overflow: visible;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .sidebar {
    width: 5em; /* 80px */
  }

  .main-stage {
    padding: 1em; /* Adjust padding for smaller screens */
  }
}
