/* Background video styling */
#background-video {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  min-height: 100%;
  scale: (0.8);
  width: auto;
  height: auto;
  z-index: -1;
  filter: grayscale(80%);
  object-fit: cover;
  transform: scale(0.9);
  transform-origin: left top;
  opacity: 0.3;
  overflow-y: hidden;
}

/* Centralized container styling */
.page-container {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

/* Container styling */
.container {
  display: flex;
  height: calc(100vh - 7em);
}


/* Sidebar styling */
.sidebar {
  width: calc(30vw);
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background-color: orange;
  border-radius: 1em;
  padding: 0.5em;
}

.sidebar.expanded {
  width: calc(60vw); /* Adjust this value as needed for the expanded state */
  background-color: orchid;
}

/* Main stage styling */
.main-stage {
  background-color: rgba(255, 0, 0, 0.5);
  display: flex;
  width: auto;
  margin-left: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(75vh); /* Ensure this height is enough to show the table */
  border: 1px solid pink;
  overflow: hidden; /* Ensure the content doesn't overflow */
}

/* Highlight section styling */
.highlight-section {
  position: relative;
  margin-bottom: 3rem;
}

/* Keyframes for sparkle animation */
@keyframes sparkle {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* Animated section styling */
.animated-section {
  display: flex;
  justify-content: center;
  gap: 1.5rem;

  .animated-item {
    font-size: 1.5rem;
    font-weight: bold;
    color: yellow;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;

    &:nth-child(1) {
      animation-delay: 0s;
    }
    &:nth-child(2) {
      animation-delay: 0.5s;
    }
    &:nth-child(3) {
      animation-delay: 1s;
    }
  }
}

/* Keyframes for fadeInUp animation */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}