.table-container {
  padding: 0.55em;
  width: 77vw;
  height: 81.5vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;

  .record-list {
    display: flex;
    flex-direction: column;
    height: 8em;
    margin-bottom: 0.5em;
    overflow: hidden;

    p {
      color: red;
      font-size: 0.8em;
    }

    .content-row {
      display: flex;
      align-items: center;
      height: auto;
      transition: transform 1s ease-in-out;

      .fixed-width {
        flex: 0 0 5em;
      }

      .left {
        justify-content: flex-start;
      }

      .middle {
        flex-grow: 1;
        justify-content: flex-start;
      }

      .right {
        justify-content: flex-end;
      }
    }
  }

  .table-wrapper {
    display: block;
    max-height: 20em; /* Set a max height to enable scrolling */
    overflow-y: auto;
    overflow-x: auto;
    white-space: nowrap;
    flex-grow: 1;

    /* Scrollbar styling */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: linear-gradient(to bottom, red, white, blue) transparent; /* For Firefox */

    &::-webkit-scrollbar {
      width: 8px; /* Thin scrollbar width */
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient(to bottom, red, white, blue);
      border-radius: 10px;
      border: 2px solid transparent; /* Transparent border to create padding effect */
    }

    &::-webkit-scrollbar-track {
      background: transparent; /* Transparent background */
    }

    &::-webkit-scrollbar-button {
      background-color: blue; /* Blue controls */
      display: block;
      height: 16px;
      width: 16px;
    }
  }

  :host ::ng-deep .stripped {
    tr:nth-child(odd) {
      background-color: red;
    }

    tr:nth-child(even) {
      background-color: green;
    }
  }

  .table-wrapper th {
    position: sticky;
    top: 0;
    background-color: #3f51b5; /* Blue background */
    color: #fff; /* White text */
    font-size: 1em; /* Font size */
    text-align: left;
    z-index: 1; /* Ensure it stays on top */
  }

  .mat-paginator {
    background-color: #3f51b5; /* Blue background */
    color: #fff; /* White text */
    font-size: 1em; /* Font size */
    text-align: left;
    z-index: 1; /* Ensure it stays on top */
  }
}

@keyframes flyIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.flyIn {
  animation: flyIn 1s ease-in-out;
}