.table-container {
  padding: 0.55em;

  .record-list {
    display: flex;
    flex-direction: column;
    height: 8em;
    margin-bottom: 0.5em;
    overflow: hidden;

    p {
      color: red;
      font-size: 0.8em;
    }

    .content-row {
      display: flex;
      align-items: center;
      height: auto;
      transition: transform 1s ease-in-out;

      .fixed-width {
        flex: 0 0 5em;
      }

      .left {
        justify-content: flex-start;
      }

      .middle {
        flex-grow: 1;
        justify-content: flex-start;
      }

      .right {
        justify-content: flex-end;
      }
    }
  }

  .table-wrapper {
    display: block;
    overflow-x: auto;
    white-space: nowrap;

    table {
      width: 100%;
      border-collapse: collapse;

      &.stripped {
        tr:nth-child(odd) {
          background-color: red;
        }

        tr:nth-child(even) {
          background-color: green;
        }
      }

      th {
        position: sticky;
        top: 0;
        background-color: #3f51b5; /* Blue background */
        color: #fff; /* White text */
        font-size: 1em; /* Font size */
        text-align: left;
        z-index: 1; /* Ensure it stays on top */
      }

      tbody {
        display: block;
        max-height: 20em; /* Set the max height for the scrollable area */
        overflow-y: auto; /* Enable vertical scrolling */
        width: 100%; /* Ensure the tbody takes the full width of the table */
      }

      thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed; /* Ensure the table layout is fixed */
      }
    }
  }
}

/* Scrollable container styling */
.scrollable-container {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: purple #f1f1f1; /* For Firefox */

  &::-webkit-scrollbar {
    width: 8px; /* Thin scrollbar width */
    background: linear-gradient(
      to bottom,
      red,
      white,
      blue
    ); /* Gradient background */
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: purple; /* Purple thumb */
    border-radius: 10px; /* Roundness of the scrollbar thumb */
    border: 2px solid #f1f1f1; /* Padding around the scrollbar thumb */
  }

  &::-webkit-scrollbar-button {
    background-color: purple; /* Purple arrows */
    display: block;
    height: 16px;
    width: 16px;
  }
}

@keyframes flyIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.flyIn {
  animation: flyIn 1s ease-in-out;
}