<div class="footer-container">
  <div class="contact-block">
    <p>Jeffrey Sanford</p>
    <div>
      <a href="mailto:jeffreysanford@gmail.com">
        <mat-icon>email</mat-icon> jeffreysanford&#64;gmail.com
      </a>
      <a href="https://github.com/jeffreysanford" target="_blank">
        <mat-icon>code</mat-icon> GitHub
      </a>
      <a href="https://github.com/jeffreysanford" target="_blank">
        <mat-icon>description</mat-icon> Resume
      </a>
    </div>
  </div>
  <div class="logo-block">
    <div class="icon-row">
      <img src="../../../../assets/images/us-army-logo.png" alt="Army" class="army">
      <img src="../../../../assets/images/nodejs-new-pantone-white.png" alt="Node.js">
      <img src="../../../../assets/images/MongoDB_Logo_RGB_Logo_Forest-Green.svg" alt="MongoDB">
    </div>
    <div class="logo-row bottom-row">
      <img src="../../../../assets/images/angular.png" alt="Angular">
      <img src="../../../../assets/images/google-material-design-logo-material-design-logo.png" alt="Material Design">
    </div>
  </div>
</div>