/* Styles for the footer component */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0.5em;
  left: 0.25em;
  width: 98.55%;
  border-radius: 0;
}

.contact-block {
  display: flex;
}

.logo-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: -2em;
  margin-top: 2em;
}

.logo-row {
  display: flex !important;
  justify-content: center; /* Center align the logos within each row */
  align-items: center;
  margin: 0.5em 2em 0 0; /* Add some vertical spacing between rows */
  overflow: visible;
}

.logo-row img {
  width: 4em;
  height: 4em;
  margin: 0 1em; /* Add horizontal spacing between images */
  border: 1px solid gold;
  background: linear-gradient(to bottom, green, black); /* Gradient background */
  border-radius: 4px; /* Optional: Add rounded corners */

  &:hover {
    transform: scale(3); /* 2x zoom on hover */
    margin-top: -9em;
  }
}

.contact-block p {
  font-size: 1em;
  color: gold;
  margin: 0;
  padding-left: 1em;
}

.contact-block a {
  font-size: 0.8em;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0.2em 0;
  color: gold;
  text-decoration: none;
}

mat-expansion-panel {
  width: 100%;
  color: gold;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7) 0%,      // Black with 0.5 opacity
      rgba(0, 50, 0, 0.7) 25%,    // Darkest Green with 0.5 opacity
      rgba(0, 100, 0, 0.7) 50%,   // Darker Green with 0.5 opacity
      rgba(0, 128, 0, 0.7) 75%,   // Green with 0.5 opacity
      rgba(0, 128, 128, 0.7) 100% // Teal with 0.5 opacity
  );
}

mat-expansion-panel[expanded] {
  height: 4em;
}

.mat-expansion-panel-title {
  color: gold;
  font-size: 1.25em;
  font-weight: bold;
  padding: 0.5em;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  color: gold;
  p {
    margin-top: 1em;
    margin-left: 1em;
  }
}

:host ::ng-deep .mat-expansion-panel-header {
  background-color: rgba(0, 0, 0, .1) !important;
  color: gold;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .mat-expansion-indicator {
    background-color: gold !important;
    width: 1.5em;
    height: 1.5em;
    border-radius: 1em;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.footer-content > div {
  display: inline-block;
  vertical-align: top;
}

.mat-panel-title {
  display: flex;
  align-items: center;
}

.mat-panel-title mat-icon {
  margin-right: 0.5em;
  background-color: teal
}