:host ::ng-deep .mat-expansion-panel-header {
  background-color: rgba(0, 0, 0, .1) !important;
  color: gold;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .mat-expansion-indicator {
    background-color: gold !important;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0.5em;
  }
}

.mat-panel-title {
  display: flex;
  align-items: center;

  mat-icon {
    margin-right: 0.5em;
    background-color: teal;
  }
}

/* Styles for the footer component */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0.5em;
  left: 0.25em;
  width: 98.5%;
  border-radius: 0;

  .top-containers {
    display: flex;
    justify-content: space-between;
  }

  .contact-block {
    display: flex;
    flex-direction: column;
    border: 0.125em solid lime;
    padding: 0.625em;

    p {
      font-size: 0.5em;
      color: gold;
      margin: 0;
      padding-left: 1em;
    }

    a {
      font-size: 0.5em;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0.125em 0;
      color: gold;
      text-decoration: none;
    }
  }

  .logo-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 10;
    margin: auto 1em 1em auto; /* Move 1em from the right and 1em from the bottom */

    .logo-row {
      display: flex !important;
      justify-content: center; /* Center align the logos within each row */
      align-items: center;
      margin: 0.5em 1em 0 0; /* Add some vertical spacing between rows */
      overflow: visible;

      img {
        width: 2em;
        height: 2em;
        margin: 0 0.5em; /* Add horizontal spacing between images */
        border: 0.0625em solid gold;
        background: linear-gradient(to bottom, green, black); /* Gradient background */
        border-radius: 0.25em; /* Optional: Add rounded corners */

        &:hover {
          transform: scale(3); /* 2x zoom on hover */
          margin-top: -9em;
        }
      }
    }
  }

  .performance-metrics {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.4em;
    margin-left: 1em;

    .metric {
      display: flex;
      align-items: center;
      margin: 0.5em;
      padding: 0.5em;
      border: 0.125em solid lime;

      label {
        font-weight: bold;
        margin-right: 0.5em; /* Slight indent before the metric */
      }
    }

    .green-border {
      border-color: green;
    }

    .yellow-border {
      border-color: yellow;
    }

    .red-border {
      border-color: red;
    }
  }
}

mat-expansion-panel {
  width: 100%;
  color: gold;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7) 0%,      // Black with 0.5 opacity
    rgba(0, 50, 0, 0.7) 25%,    // Darkest Green with 0.5 opacity
    rgba(0, 100, 0, 0.7) 50%,   // Darker Green with 0.5 opacity
    rgba(0, 128, 0, 0.7) 75%,   // Green with 0.5 opacity
    rgba(0, 128, 128, 0.7) 100% // Teal with 0.5 opacity
  );
}

mat-expansion-panel[expanded] {
  height: auto;
}

.mat-expansion-panel-title {
  color: gold;
  font-size: 0.6em;
  font-weight: bold;
  padding: 0.5em;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  color: gold;
  p {
    margin-top: 0.75em;
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: auto;

  > div {
    display: inline-block;
    vertical-align: top;
  }
}