<div class="footer-container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>star</mat-icon>
        <p>Jeffrey Sanford</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="footer-content">
      <div class="contact-block">
        <a href="mailto:jeffreysanford@gmail.com">
          <mat-icon>email</mat-icon> jeffreysanford&#64;gmail.com
        </a>
        <a href="https://github.com/jeffreysanford" target="_blank">
          <mat-icon>code</mat-icon> GitHub
        </a>
        <a href="https://github.com/jeffreysanford" target="_blank">
          <mat-icon>description</mat-icon> Resume
        </a>
      </div>
      <div class="logo-block">
        <div class="icon-row">
          <img src="../../../../assets/images/us-army-logo.png" alt="Army" class="army">
          <img src="../../../../assets/images/nodejs-new-pantone-white.png" alt="Node.js">
          <img src="../../../../assets/images/MongoDB_Logo_RGB_Logo_Forest-Green.svg" alt="MongoDB">
        </div>
        <div class="logo-row bottom-row">
          <img src="../../../../assets/images/angular.png" alt="Angular">
          <img src="../../../../assets/images/google-material-design-logo-material-design-logo.png" alt="Material Design">
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</div>