mat-progress-spinner {
  margin: 25% auto; 
}
.mat-progress-spinner circle {
  stroke: lightblue !important;
}
/* Address Block Component Styles */
.address-card {
  max-width: 50%;
  margin: 1em auto 0;
  background: #f5f5f5;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  mat-card-header {
    background-color: #3f51b5;
    color: #fff;
  }

  mat-card-title {
    font-size: 24px;
  }

  p {
    margin: 4px 0;
  }
}

.company-card {
  max-width: 50%;
  margin: auto;
  background: #f5f5f5;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
  mat-card-header {
    background-color: #3f51b5;
    color: #fff;
  }

  mat-card-title {
    font-size: 24px;
  }

  table {
    width: calc(100% - 1em);
    margin: 1em 0.5em 0;

    th {
      font-weight: bold;
    }

    td {
      padding: 8px;
      text-align: left;
    }
  }
}
