.record-list {
  position: absolute;
  top: 1em;
  left: 1em;
  width: calc(100% - 2em);
  height: 9em;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.25em;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, red, white, blue);
    border-radius: 0.125em;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  .content-row {
    display: flex;
    align-items: center;
    height: auto;
    transition: transform 1s ease-in-out;

    .fixed-width {
      flex: 0 0 5em;
    }

    .left {
      justify-content: flex-start;
    }

    .middle {
      flex-grow: 1;
      justify-content: flex-start;
    }

    .right {
      justify-content: flex-end;
    }
  }
}

/* Scrollable container styling */
.scrollable-container {
  position: absolute;
  top: 11em;
  left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: calc(100% - 2em);
  max-height: calc(100% - 2em);
  overflow-y: auto;
  overflow-x: none;
  padding-right: 1em; // Space for the scrollbar

  &::-webkit-scrollbar {
    width: 0.25em;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, red, white, blue);
    border-radius: 0.125em;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

@keyframes flyIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.flyIn {
  animation: flyIn 1s ease-in-out;
}

