.record-list {
  height: 9em;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;


  .content-row {
    display: flex;
    align-items: center;
    height: auto;
    transition: transform 1s ease-in-out;

    .fixed-width {
      flex: 0 0 5em;
    }

    .left {
      justify-content: flex-start;
    }

    .middle {
      flex-grow: 1;
      justify-content: flex-start;
    }

    .right {
      justify-content: flex-end;
    }
  }
}

@keyframes flyIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.flyIn {
  animation: flyIn 1s ease-in-out;
}

