$small-screen: 600px;

.filter {
  margin-top: 1em;
}

.clear-button {
  margin-right: 0.25em;
}

.performance {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  background-color: rgba(pink, 0.7)
}

.dataset-generation {
  border: 0.125em solid gold;
  padding: 1em;
  margin-bottom: 2em;
  width: fit-content;
}

.selector {
  width: 10em; // Adjust this width to fit the largest dataset value
  border: 0.125em solid yellow; // Yellow border around mat-select
}

.mat-option {
  border: 0.125em solid green; // Green border around mat-option
}

.report {
  margin-top: 2em;
  word-wrap: break-word;
}

.table {
  .mat-mdc-table {
    max-width: 80%;
    min-height: calc(50vh);
    margin: 1em auto;
    z-index: 15;
  }
}

.no-data-row {
  margin: 25% 25%;
  height: 1em;
}

mat-progress-spinner {
  margin: 45% 45%;
}

.mat-progress-spinner circle {
  stroke: lightblue !important;
  margin: 25% 25%;
}

.no-data-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.data-loading {
  margin: auto auto;
}
