/* Container Styling */
div {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* SVG Styling */
svg {
  font-family: 'Arial', sans-serif;
  background-color: transparent; /* Set to transparent to avoid painting over states */
}

/* Title Styling */
text {
  &.title {
    font-size: 24px;
    font-weight: bold;
    fill: #333; /* Dark text color */
  }

  &.description {
    font-size: 14px;
    fill: #666; /* Lighter text color for description */
  }
}

/* Path (States) Styling */
path {
  fill: #69b3a2;
  stroke: black;
  transition: fill 0.3s ease, stroke-width 0.3s ease;

  &:hover {
    fill: orange; /* Change color on hover */
    stroke-width: 2px;
  }
}

/* Logo and Attribution Styling */
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  opacity: 0;
  animation: fadeInLogo 2s forwards;
}

.logo {
  width: 150px;
  margin-bottom: 10px;
  transform: scale(0.8);
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1);
}

.data-source {
  font-size: 14px;
  color: #333;
}

/* Logo Animation */
@keyframes fadeInLogo {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}