<div class="tile-container">
  <mat-card
    *ngFor="let chart of charts; index as i"
    class="chart-card"
    [class.expanded]="expandedTileIndex === i"
    (click)="openTile(i)"
  >
    <mat-card-header>
      <mat-card-title>{{ chart.name }}</mat-card-title>
    </mat-card-header>
    <!-- Chart components will be dynamically loaded here based on the chart type -->
    <!-- <ng-container *ngIf="chart.component === 'app-line-chart'">
      <app-line-chart [data]="chart.data"></app-line-chart>
    </ng-container>
    <ng-container *ngIf="chart.component === 'app-bar-chart'">
      <app-bar-chart [data]="chart.data"></app-bar-chart>
    </ng-container>
    <ng-container *ngIf="chart.component === 'app-fintech-chart'">
      <app-fintech-chart [data]="chart.data"></app-fintech-chart>
    </ng-container> -->
    <ng-container *ngIf="chart.component === 'app-map-chart'">
      <app-map-chart [data]="chart.data"></app-map-chart>
    </ng-container>
  </mat-card>
</div>