.tile-container {
  padding: 2vw;
}

.chart-card {
  cursor: pointer;
  transition: transform 0.2s, flex 0.2s, height 0.2s;

  &.expanded {
    transform: scale(1.05);
  }

  mat-card-title {
    font-size: 1.5em;
  }
}

mat-grid-tile {
  border: 1px solid #ccc; /* Add border around each tile */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for better visual separation */
  transition: all 0.2s ease-in-out;
}

mat-card {
  height: 100%;
}

mat-card-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container {
  width: 100%;
  height: 100%;
}

.chart {
  width: 100%;
  height: 100%;
}