<div
  class="sidebar-container"
  [ngClass]="{ collapsed: isCollapsed, expanded: !isCollapsed }"
>
  <mat-card class="sidebar-card">
    <mat-nav-list class="sidebar-list">
      <div *ngFor="let item of menuItems">
        <a
          sidebar-item
          class="nav-item"
          [routerLink]="item.routerLink"
          [ngClass]="{ active: item.active }"
          (click)="setActive(item)"
        >
          <div class="item-content">
            <mat-icon class="material-icons item-icon">{{ item.icon }}</mat-icon>
            <p class="item-label">{{ item.label }}</p>
          </div>
        </a>
      </div>
    </mat-nav-list>
  </mat-card>
</div>