.sidebar-list {
    padding: 1em 1.25em 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    background-color: rgba(0, 0, 255, 0.3);

    /* Sidebar card styling */
    .sidebar-card {
      width: 100%;
    }

    /* Navigation item styling for both button types */
    .nav-item {
      display: flex;
      align-items: center;
      justify-content: flex-start; /* Align items to the left */
      padding: 0.625em 1em; /* 10px 20px */
      color: black;
      font-size: 1.1em;
      text-decoration: none;
      background: linear-gradient(
        to bottom right,
        rgba(255, 0, 0, 0.8),  /* Red with 0.8 transparency */
        rgba(255, 255, 255, 0.8),  /* White with 0.8 transparency */
        rgba(0, 0, 255, 0.8)  /* Blue with 0.8 transparency */
      ); 
      transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
      border-radius: 0.3125em; /* 5px */
      margin: 0.625em 0; /* 10px 0 */
      border: 2px solid #000; /* Increase border width and change color to white */
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5); /* Increase shadow for better separation */

      &:hover {
        background-color: #ff5722; /* Change hover color to a bright orange */
        transform: scale(1.1); /* Increase scale on hover */
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7); /* Increase shadow on hover */
      }
    }
}