.mat-toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .sidenav-container {
    height: 100vh;
  }
  
  .sidenav-container .mat-sidenav {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    width: 250px;
  }
  
  .sidenav-container .mat-sidenav-content {
    padding-top: 64px; /* Adjust for toolbar height */
  }
  
  .logo {
    flex: 1;
    font-size: 1.5rem;
    color: white;
  }
  
  .linkedin, .resume {
    margin: 1rem 0;
  }