<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item>
        <mat-icon>table_chart</mat-icon>
        <span>Table</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>bar_chart</mat-icon>
        <span>Data Visualization</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>restaurant</mat-icon>
        <span>Peasant Kitchen</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>movie</mat-icon>
        <span>Movies</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>