@use '@angular/material' as mat;

// Styles for the header card
.header-card {
  width: calc(100%);
  margin-bottom: 0.5em;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.7) 0%,    // Red with 0.7 opacity
    rgba(255, 255, 255, 0.7) 10%, // White with 0.7 opacity
    rgba(0, 0, 255, 0.7) 20%,   // Blue with 0.7 opacity
    rgba(0, 128, 128, 0.7) 100% // Teal with 0.7 opacity
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: none;
}

// Styles for the content inside the header card
.header-content {
  height: 3em;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: relative;
  padding: 0 1em; /* Add padding to match other page margins */
}

button {
  position: absolute;
  right: -1em;
}

.profile-icon {
  position: absolute;
  right: 2em;
  top: -0.25em;
  color: rgba(255, 223, 0, 1); // Accent: Soft Yellow
  border: 2px solid #00f0ff; // Bright neon blue border
  border-radius: 50%;
  padding: 4px; /* Adjust padding as needed */
}

// Styles for the mat-menu
mat-menu {
  background-color: rgba(255, 255, 255, 0.9); // Transparent background similar to sidebar
  border: 2px solid #000; // Black border
  height: 200px; // Set height
  width: 300px; // Set width
}

// Styles for the mat-menu items
mat-menu-item {
  color: #000; // Black text color
  font-family: 'Montserrat', sans-serif; // Montserrat font
  font-size: 1em; // Font size
  padding: 0.5em 1em; // Padding for menu items
  border-radius: 4px; // Rounded corners
  transition: background-color 0.3s; // Smooth background color transition
  height: 10em;
}

// Styles for the mat-icon inside the header card
mat-icon {
  color: white; // White icon color to contrast with dark blue background
  font-size: 1em; // Larger icon size
  margin-left: auto; // Push the icon to the right
}