@use '@angular/material' as mat;

// Styles for the header card
.header-card {
  width: calc(100% - 1em); // Full width with 1em margins on left and right
  margin: 0 1em 1em 0;
  box-shadow: 0 4px 8px rgba(0, 0, 255, 0.1);
  background-color: rgba(44, 62, 80, 0.5); // Alternative: Dark Blue with 0.2 opacity
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  box-shadow: none; // Remove default mat-card shadow
}

// Styles for the content inside the header card
.header-content {
  height: 4em;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

button {
  position: absolute;
  right: -1em;
  top: 0.25em;
}

.profile-icon {
  position: absolute;
  right: 1em;
  color: rgba(255, 223, 0, 1); // Accent: Soft Yellow
  border: 2px solid #00f0ff; // Bright neon blue border
  border-radius: 50%;
  padding: 4px; /* Adjust padding as needed */
}

// Styles for the mat-menu
mat-menu {
  background-color: rgba(255, 255, 255, 0.9); // Transparent background similar to sidebar
}

// Styles for the mat-menu items
mat-menu-item {
  color: #000; // Black text color
  font-family: 'Montserrat', sans-serif; // Montserrat font
  font-size: 1em; // Font size
  padding: 0.5em 1em; // Padding for menu items
  border-radius: 4px; // Rounded corners
  transition: background-color 0.3s; // Smooth background color transition
}

// Styles for the mat-icon inside the header card
mat-icon {
  color: white; // White icon color to contrast with dark blue background
  font-size: 1em; // Larger icon size
  margin-left: auto; // Push the icon to the right
}